@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'M Blem Rounded Beta';
  src: url('/fonts/m-blem-rounded-beta-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.font-m-blem {
    font-family: 'M Blem Rounded Beta', sans-serif;
}

a {
    color: inherit;
    text-decoration: underline;
    font-weight: 500;
}

.universal-margin {
    margin-left: clamp(1rem, 5vw, 6rem);
    margin-right: clamp(1rem, 5vw, 6rem);
}